@import "tailwindcss";

* {
  font-family: "Helvetica Neue", sans-serif;
}

:root {
  --c1: rgb(12, 43, 78);
  --c2: rgb(26, 61, 100);
  --c3: rgb(29, 84, 108);
  --c4: rgb(244, 244, 244);
}

/* Utility classes using your custom colors */
.bg-c1 {
  background-color: var(--c1);
}

.bg-c2 {
  background-color: var(--c2);
}

.bg-c3 {
  background-color: var(--c3);
}

.bg-c4 {
  background-color: var(--c4);
}

.text-c1 {
  color: var(--c1);
}

.text-c4 {
  color: var(--c4);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}